/*html specifications*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #303231;
}

.type1 {
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  color: #E63420;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
    /*background-color: #E63420;
    border-style: none;*/
    border-radius: 5px;
    border-color: #FFF100;
    border-width: medium;
    height: 35px;
    padding: 5px;
    color: #3C3C3B;
  /*  FFF100 E63420*/
}

footer {
  text-align: center;
}

/*grid specifications*/

[class*="col-"] {
  font-size: 16px;

}

.col-12 {
  /* background: #CCCCCC;*/
}

.col-8 {
  /* background: green;*/
}

.col-7 {
  /*background: purple;*/
}

.col-6{
  /*background: blue;*/
}


.col-4 {
  /*background: pink;*/

}

.col-3 {
  /*background: red;*/
}

.col-2 {
  /*background: yellow;*/
}

.col-1 {
  /*background: white;*/
}

/*mediaqueri specifications*/

@media (max-width: 768px) {
  .col-1 {
    width: 100%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
  .col-7 {
    width: 100%;
  }
  .col-8 {
    width: 100%;
  }
  .col-12 {
    width: 100%;
  }
  .col-space {
    width: 100%;
  }
}
